@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* General */
html {
    font-family: 'Montserrat', sans-serif;
    background-color: #B6E6FC;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hall-of-fame {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#hidden {
    display: none;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.3s ease;
    padding-top: 60px;
}
  
.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
}
  
#openSidebarBtn {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    display: block;
    background-color: #222;
    color: white;
}