@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* General */
html {
    font-family: 'Montserrat', sans-serif;
    background-color: #B6E6FC;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hall-of-fame {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.hidden {
    display: none;
}